body{
    font-size: 100%;
    background-color:rgb(54, 218, 254); 
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-title{
    flex-direction: column;
    line-height: 10px;
}

.cabecalho-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cabecalho-menu-item{
    color: white;
    text-decoration: none;
}

.cabecalho-menu-item4 {
    display: flex;
    justify-content: center;
    color: white;
    border: 2px solid rgb(35, 49, 255);
    padding: 10px;
    width: 90px;
    border-radius: 15px;
    text-decoration: none;
}

.cabecalho-menu-item4:hover {
    background-color: rgb(35, 49, 255);
    color: white;
    transition: 0.3s all;
}

.cabecalho-menu-item:hover{
    color: rgb(35, 49, 255);
    transition: 0.3s all;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}


h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: rgb(35, 49, 255);
}

p{
    line-height: 20px; 
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 580;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(35, 49, 255);
    color: white;
    font-weight:  bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}